/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 6, 2017, 12:11:53 PM
    Author     : abhishekingle
*/

@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  margin: 0;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  height: 100vh;
  display: flex;
/*  justify-content: center;
  align-items: center;*/
}

.sentance {
  display: flex;
  line-height: 1;
}

.sentance__half {
  position: relative;
  display: flex;
  padding: 0 0.1em;
  overflow: hidden;
}
.sentance__half.right {
  padding-right: 0.2em;
}
.sentance__half > .inner {
  display: inline-block;
}

.dot {
  position: absolute;
  bottom: 3px;
  right: 0;
  display: block;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}

.info {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: 0.8em;
  opacity: 0.2;
}